<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="TestIntValue" value="14" />
    <add key="TestOctopusValue" value="#{Missingvalue}" />
    <add key="Password" value="Can't See This!" />
    <add key="SomePassword" value="Can't See This!" />
    <add key="SQLConnString" value="Data Source=SomeSqlServer\sql01;Initial Catalog=SomeSqlCatalog;Persist Security Info=True;User ID=SomeSqlUserId;Password=SomeSqlPassword;Network Library=DBMSSOCN;Application Name=SomeSql App Name;" />

    <add key="SQLConnString_Test01" value="Data Source=SomeSqlServer\sql01;Initial Catalog=SomeSqlCatalog;Persist Security Info=True;User ID=SomeSqlUserId;Password=SomeSqlPassword;Network Library=DBMSSOCN;Connect Timeout=200;Pooling=True;Max Pool Size=200;" />
    <add key="SQLConnString_Test02" value="Data Source=SomeSqlServer;Initial Catalog=SomeSqlCatalog;Persist Security Info=True;User ID=SomeSqlUserId;Password=SomeSqlPassword;Network Library=DBMSSOCN;Connect Timeout=200;Pooling=True;Max Pool Size=200;" />
    <add key="SQLConnString_Test03" value="Data Source=SomeSqlServer;Initial Catalog=SomeSqlCatalog;Persist Security Info=True; User ID=SomeSqlUserId; Password=SomeSqlPassword;" />
    <add key="SQLConnString_Test04" value="Data Source=SomeSqlServer\sql01;Initial Catalog=SomeSqlCatalog;Persist Security Info=True;User ID=SomeSqlUserId;Password=v;Network Library=DBMSSOCN;Connect Timeout=200;Pooling=True;Max Pool Size=200;" />
    <add key="SQLConnString_Test05" value="Data Source=SomeSqlServer;Initial Catalog=SomeSqlCatalog;Persist Security Info=True;User ID=SomeSqlUserId;Password=SomeSqlPassword;Network Library=DBMSSOCN;Application Name=SomeSql App Name;" />
    <add key="Demo1SQLConnString" value="#{Demo1SQLConnString}" />
    <add key="Demo2SQLConnString" value="#{Demo2SQLConnString}" />
    <add key="SampleService" value="http://localhost/SampleService" />
    <add key="ReportServerDBUserName" value="SomeSqlUserId" />
    <add key="ReportServerDBPassWord" value="SomeSqlPassword" />


    <!-- Advanced Debugging Settings -->
    <!-- Threshold is controlled under AppSettings -->
    <add key="AutoLog:LoggingThreshold" value="DEBUG" />
    <add key="AutoLog:LogLevel" value="4" />
    <add key="AutoLog:AutoLogSQLThreshold" value="5" />
    <add key="AutoLog:DebugLevels" value="TestClass:-1;TestAutoLogParms:-1;LogSecurityProtocol:15" />
    <!-- <add key="DebugLevels" value="FunctionName:#" /> -->
    <!-- For DebugLevels, you specify FunctionName:#;FunctionName2:#;FunctionName3:# -->
    <add key="AutoLog:FunctionHeaderMethod" value="4" />
    <add key="AutoLog:FunctionHeaderConstructor" value="8" />
    <add key="AutoLog:ComplexParameterValues" value="6" />
    <add key="AutoLog:SqlCommand" value="6" />
    <add key="AutoLog:SqlParameters" value="7" />
    <add key="AutoLog:SqlCommandResults" value="6" />
    <add key="AutoLog:MemberTypeInformation" value="12" />
    <add key="AutoLog:DumpComplexParameterValues" value="13" />
    <add key="AutoLog:DynamicLoggingNotice" value="*** " />
    <add key="AutoLog:LogToConsole" value="true" />
    <add key="AutoLog:LogToDebugWindow" value="true" />
    <add key="AutoLog:AutoTimeoutIncrementMsHttp" value="5000" />

    <!-- Serilog Settings -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" value="" />
    <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj}{NewLine}{Exception}" />
    <add key="serilog:enrich:with-machine-name" value="" />
    <add key="serilog:enrich:with-thread-id" value="" />
    <add key="serilog:enrich:with-property:Application" value="TestConsoleApp" />

    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="C:\Temp\Logs\Test.ConsoleApp.Seri.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.shared" value="true" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="7" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="10485760" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.outputTemplate" value="[{Timestamp:yyyy-MM-dd HH:mm:ss} {Level:u3}] {Message:lj}{NewLine}{Exception}" />
  </appSettings>
  <log4net>
    <appender name="TestApp" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" type="log4net.Util.PatternString" value="C:\Temp\Logs\Test.ConsoleApp" />
      <param name="Threshold" value="ALL" />
      <param name="ImmediateFlush" value="true" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} [%property{instancename}] [%property{log4net:HostName}] [%property{pname}:%property{pid}] - %-5level: %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%property{instancename}] [%property{log4net:HostName}] [%property{pname}:%property{pid}] - %-5level: %message%newline" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%property{instancename}] [%property{log4net:HostName}] [%property{pname}:%property{pid}] - %-5level: %message%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="TestApp" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
