<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serilog" type="Serilog.ConfigurationSection, Serilog.Settings.Configuration" />
  </configSections>

  <serilog>
    <using>Serilog.Sinks.Console</using>
    <using>Serilog.Sinks.File</using>
    <using>Serilog.Sinks.Seq</using>

    <minimumLevel value="Debug" />

    <writeTo>
      <sink name="Console" />
      <sink name="File">
        <arg name="path" value="C:\Logs\myapp.log" />
        <arg name="rollingInterval" value="Day" />
      </sink>
      <sink name="Seq">
        <arg name="serverUrl" value="http://localhost:5341" />
      </sink>
    </writeTo>

    <enrich>
      <with name="FromLogContext" />
      <with name="WithMachineName" />
      <with name="WithThreadId" />
    </enrich>

    <destructure>
      <transform name="ToMaximumDepth" maximumDestructuringDepth="2" />
      <transform name="ToMaximumStringLength" maximumStringLength="100" />
      <transform name="ToMaximumCollectionCount" maximumCollectionCount="10" />
    </destructure>
  </serilog>
</configuration>
